*.mod
*.o
*.f90
Makefile
*~
autom4te.cache
config.log
config.status
configure
src/config.h
src/lib/.deps/
src/lib/Lbfgsb.3.0/.deps/
src/lib/Lbfgsb.3.0/.dirstamp
src/lib/dSFMT/.deps/
src/lib/dSFMT/.dirstamp
src/lib/lib.a
src/lib/qsimulate/.deps/
src/spdyn/.deps/
src/stamp-h1
